$sw: 8vw;
$nh: 4vw;
$gold: #dbad69;
$blue_1: #010a35;
$blue_2: #060031;
.Layout{
    padding-left: calc($sw);
    padding-top: calc($nh + 0.5px);
    color: $gold;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; 
    & * {
        scroll-snap-align: start;
    }
}
