@import "./App.module.scss";
.Navbar{
    //positioning & size of navbar 
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    overflow: auto;
    height: $nh;
    z-index: 2;
    overflow-y: hidden;
    color: $gold;
    font-size: 1.1rem;
    border-bottom: 2px solid $gold;

    //inner content
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060031;
    background-image: linear-gradient(200deg, #0c0063 0%, #060031 85%);

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 1vw;
    }
    .bird{
        height:auto;
        width: 3vw;
        padding: 0 0 1.5vw;
    }
    .name{
        padding: 1vw;
        height:auto;
        width: 10vw;
    }

    .options{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        
        .first,.second{
            padding: 8px;
            border-radius: 0.5rem;
            background-color: #045DE9;
        }

        .first:hover,.second:hover{
            cursor: pointer;
            border: 1px solid $gold;
            border-radius: 0.2rem;
            background-color: $gold;
            color: $blue_1;
        }
    }
}