$sw: 8vw;
$nh: 4vw;
$blue_1: #010a35;
$blue_2: #060031;
.sidebar{
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: $nh;
    width: $sw;

    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: #060031;
    background-image: linear-gradient(-215deg, #0c0063 0%, #060031 85%);
    color: #dbad69;
    font-size: 1rem;
    border-right: 1px solid #dbad69;

    .hello{
        border: 2px solid #dbad69;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vw;
        width: 5vw;
        border-radius: 0.5rem;
        flex-direction: column;
        padding: 5px;
        transition: all 0.5ms ease-in-out;

        .images{
            width: 3.5vw;
            height: auto;
        }

        &:hover{
            box-shadow: #dbad69 0px 1px 4px, #dbad69 0px 0px 0px 3px;
        }

        .textcontainer{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}